
#a{
    background-color: aqua;
    border-style:inset;
    padding:30px;
    width:80px;
    display:inline-block;
    position : relative;
}
#b{
    background-color: springgreen;
    width:70px;
}
.e{
    background-color: blueviolet;
    width:300px;
    height:600px;
    position : relative;
}
.f{
    background-color: sandybrown;
    width:50%;
    height:70%;
}